/* Font */
h1{
    font-family: 'Nova Square', cursive;
    color: darkred;
    font-size: 60px;
    letter-spacing: 30px;
}

li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
}

.quote{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-align: center;
}


.logo{
    width: 150px;
    height: auto;
}

header{
    background: url(./media/mountains2.png), linear-gradient(rgb(255,255,255),rgba(255, 255, 255, 0)), url(./media/switzerland-862870_1920.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.lorem{
    background-color: #ececec;

}

.icone{
    color: darkred;
    font-size: 30pt !important;
}

.bottone{
    background-color: darkred;
    color: white;
}

.div-bottone{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./media/trees2.png), #ececec;
    background-size: cover;
    background-position: center;
}

.div-lista-dx{
    background: url(./media/single.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.immagine-rotonda{
    height: 85px;
    width: 85px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-rotondo{
    height: 100px;
    width: 100px;
    position: relative;
    border: solid 2px darkred;
    border-radius: 50%;
}

.immagine-rotonda-2{
    height: 130px;
    width: 130px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-rotondo-2{
    height: 145px;
    width: 145px;
    position: relative;
    border: solid 2px darkred;
    border-radius: 50%;
}

.ultimo-div{
    height: 70vh;
    background: url(./media/other.png), #ececec;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    background-color: darkred;
}